/* CSS Document */
table {
    margin: 3px 0 10px 0;
}
td, th {
    padding: 4px;
    margin: 0;
}
input, select, textarea {
    font-size: 12px;
    border: 1px solid #999;
    padding: 2px;
}
optgroup {
    background: #ccc;
    font-style: normal;
    font-weight: bold;
}
optgroup option {
    background: #fff;
    font-weight: normal;
    padding: 2px;
}
textarea
{
    font-family:Arial, Helvetica, sans-serif;
}
button {
    border: 1px solid #999;
    font-size: 9px;
    padding: 2px;
    margin: 0 2px;
    background: url(/images/admin/fndbutton.gif) repeat-x bottom;
}
button.click {
    border: 1px solid #999;
    background: url(/images/admin/fndbuttonoff.gif) repeat-x bottom #DBDBDB;
}
button img {
    vertical-align: text-bottom;
}
.inputFocus {
    background: #ffffdd;
}
tr.cor {
    background-color:#f0f0f0;
}
tr.cor2 {
    background-color: #C2CBE7;
}
th {
    background-color:#999;
    color:#FFF;
}
hr
{
	color:#999;
}

tfoot {
    text-align: center;
}
table.create {
    width:100%;	
}
table.create tr.titulo {
    background-color:#f0f0f0;
}
td h2 {
    font-size:14px;
    color:#999;
    text-align:center;
}
td option {
    padding:0 5px;
}
td img {
    vertical-align:middle;
    margin-right:5px;
}
tr.action {
    background: url(/images/admin/fndTabs.jpg) repeat-x top #f0f0f0;
    padding:5px 15px;
    border:solid 1px #ccc;
}
td.botao input:focus, td.botao input:active {
    background-color:none; !important
}
td.botao input, td.botao a {
    font-size:12px;
    font-weight:bold;
    float:right;
    margin-left:10px;
}
table.relatorio_2 a:hover, table.relatorio a:hover {
    text-decoration: underline;
}
table.tab_relatorio, table.create, table.relatorio, table.relatorio_2 {
    border: 1px solid #ccc;
}
table.relatorio tr:hover, table.relatorio_2 tr:hover {
    background-color: #ffffdd;
}
table.pesquisa {
    border: 1px solid #ccc;
    padding: 0;
    margin-bottom: 0;
}
.divClear {
    clear: both;
    height: 0;
}
input.noborder
{
    border:0px;
}