/* GERAIS */
* {
    margin:0;
    padding:0;
}
html{
    background: url(/images/admin/fndProto.jpg) repeat-x #A7A7A5;
    overflow: -moz-scrollbars-vertical;
}
body {
    behavior:url(/htc/csshover2.htc);
    font-family: Verdana, Arial, Helvetica, san-serif;
    font-size:11px;
    color:#333;
    margin: 10px;
}
img {
    vertical-align:middle;
    border:0;
}
a {
    color:#666;
    text-decoration:none;
}
a:hover {
    color:#333;
}
p {
    margin-bottom:10px;
}
h1, h2, h3, h4, h5, h6 {
    color:#999;
    background-color:#FFF;
}
h1 {
    font-size:22px;
}
h2 {
    font-size:20px;
}
h3 {
    font-size:18px;
}
h4 {
    font-size:16px;
}
h5 {
    font-size:14px;
}
h6 {
    font-size:12px;
}

label {
    text-align: right;
    display: block;
}
/* LAYOUT */
div#topo {
    padding: 10px;
    display: block;
    background-color:#fff;
}
div#topo img {
    vertical-align:middle;
}
div#user p{
    margin: 10px;
}
div#culturas {
    padding: 5px 0;
    text-align: right;
}
div#culturas p {
    display: inline;
}
div#culturas ul {
    display: inline;
    margin: 10xp;
    list-style: none;
}
div#culturas ul li {
    display: inline;
    margin: 2px;
    padding: 0;
}
div#user p {
    text-align: right;
    margin: 0;
    padding: 0;
}
div#topo div {
    margin:0;
}
div#corpo a:hover {
    text-decoration: underline;
}
div#corpo, div#rodape {
    background:#fff;
}
div#conteudo {
    padding:10px 15px 20px 15px;
    background:#fff;
}
div#rodape {
    text-align:right;
}
div#tabs {
    background:url(/images/admin/fndTabs.jpg) bottom repeat-x #dfdfdf;
    padding: 3px;
    padding-top: 10px;
    clear: both;
}
div#tabs a {
    text-decoration:none;
}
div#tabs li {
    display: inline;
    list-style:none;
    background-color:#eee;
    border:solid 1px #ccc;
    padding: 2px 10px;
    margin: 0 2px;
}
div#tabs li.active {
    background-color:#fff;
    border-bottom: solid 1px #fff;
}
div#tabs li:hover {
    color:#000;
}
div#menu_rastro {
    background: #dfdfdf;
    padding: 5px 10px 0 10px;
    height: 15px;
    color: #888;
}
div#menu_rastro a {
    text-decoration:none;
    color: #888;
}
div#menu_rastro li {
    display: block;
    float: left;
    list-style:none;
    padding-right: 20px;
    background: url(/images/admin/menu_rastro_seta.gif) right no-repeat;
}
div#menu_rastro li.last {
    padding-right: 0;
    background: none;
    color: #333;
}
div#menu_rastro a:hover {
    text-decoration: underline;
}
div#aspectos {
    color: #fff;
}
div#aspectos ul {
    list-style: none;
    margin: 5px 0;
}
div#aspectos ul li.ativo a {
    font-weight: bold;
    color: #fff;
}
div#aspectos a {
    color: #999;
}
div#aspectos a:hover {
    text-decoration: underline;
    color: #fff;
}
div#aspectos ul li {
    display: inline;
    border-left: 1px solid #fff;
    padding: 2px 9px 2px 10px;
}
div#aspectos ul li.first {
    border-left: none;
}
.paginacao strong{
    border: 1px solid #3399CC;
    background-color: #BECAE4;
    padding: 0 2px;
}
div#divLoading {
    position: absolute;
    width: 100px;
    top: 0;
    background-color: #f33;
    color: #fff;
    font-weight: bold;
    padding: 2px;
    font-size: 10px;
}
img.dateIco {
    vertical-align: middle;
    cursor: pointer;
}
.paginacao .active{
    border: 1px solid #3399CC;
    background-color: #BECAE4;
    padding: 0 2px;
}
.fieldWithErrors input, .fieldWithErrors textarea, .fieldWithErrors checkbox, .fieldWithErrors select
{
    border: 2px solid #FF0000;
}
.formError
{
    color:#FF0000;
}
.notice, .error, .warning, .info {
    font-weight: bold;
    margin: 0px 0 5px 0;
    padding: 5px 5px 5px 27px;
}
.notice {
    border: 1px solid #9c9;
    background: #e2f9e3 url(/images/icons/tick.gif) no-repeat 5px center;
    color: #060;
}
.error {
    border: 1px solid #c68484;
    background: #fcc url(/images/icons/cross.gif) no-repeat 5px center;
    color: #c00;
}
.warning {
    border: 1px solid #dd0;
    background: #ffc url(/images/icons/error.gif) no-repeat 5px center;
    color: #000;
}
.info {
    border: 1px solid #82c2d4;
    background: #ebf5f8 url(/images/icons/information.gif) no-repeat 5px center;
    color: #000;
}
div.alert_message {
    position: relative;
    padding-right: 20px;
}
.alert_message div.btn_close {
    position: absolute;
    top: 2px;
    right: 4px;
    _right: 18px;
}