<%= stylesheet_link_tag "conteudo" %>
<%= stylesheet_link_tag "buscas" %>
<img src="/images/titulo_lojas.gif" /><%=content_tag :p, link_to("Voltar para todas as lojas", {:action => :index}, :class => "texto_cinza") %>
<h1 class="texto_azul_anuncio"><%=@loja.anunciante.nome %></h1>
<table>
	<tr>
    <td width="314" align="center">
        <%=imagem_principal(@loja) %>
    </td>
    <td valign="top">
        <p class="texto_cinza">
            Endereço: <strong><%=@loja.anunciante.endereco %>, <%=@loja.anunciante.cidade.nome %>/<%=@loja.anunciante.cidade.estado.sigla %></strong>
            <br/>
            Site: <strong><%=link_to @loja.site, @loja.site, :target => "_blank" %></strong>
            <br/>
            Mapa: <strong><%=link_to @loja.mapa, @loja.mapa, :target => "_blank" %></strong>
            <br/>
            Contato Responsável: <strong><%=[@loja.telefone_responsavel,@loja.celular_responsavel].join " ou " %></strong>
            <br/>
        </p>
    </td>
	</tr>
	<tr>
        <td colspan="2">
            <%=imagens(@loja) %>
        </td>
    </tr>
</table>
<br/>
<% if @anuncios.size > 0 %>
<h1 class="texto_cinza_titulo">Estoque</h1>
<br />
<table class="resultado_busca">
    <tr>
        <th class="texto_verde_pequeno">
            Foto
        </th>
        <th class="texto_verde_pequeno">
            Descrição
        </th>
        <th class="texto_verde_pequeno">
            Valor
        </th>
        <th class="texto_verde_pequeno">
        </th>
    </tr>
    <% @anuncios.each do |anuncio| %>
    <tr>
        <td id="foto" align="center">
            <%=link_anuncios(imagem_resultado_busca(anuncio),anuncio) %>
        </td>
        <td align="center">
            <%=link_anuncios(anuncio.descricao,anuncio) %>
        </td>
        <td align="center">
            <%=link_anuncios(valor_publico(anuncio.extensao.valor),anuncio) %>
        </td>
        <td align="center">
            <%=link_anuncios("Ver anúncio",anuncio) %>
        </td>
    </tr>
    <% end %>
	<tr>
		<td colspan="4"><%= paginacao @anuncios, :id => @loja.id %></td>
	</tr>
</table>

<% end %>