<%= stylesheet_link_tag "conteudo" %>
<%= stylesheet_link_tag "buscas" %>

<img src="/images/titulo_lojas.gif" />

<%=render :partial => "shared/menu_auxiliar" %>

<h1 class="texto_verde_pequeno">Estabelecimentos parceiros</h1>
<br />

<% if @lojas.size == 0%>
<h1 class="texto_cinza_titulo">Nenhuma estabelecimento cadastrado</h1>
<% else %>
<table class="resultado_busca">
	<tr>
        <th class="texto_verde_pequeno">
            Foto
        </th>
        <th class="texto_verde_pequeno">
            Empresa
        </th>
        <th class="texto_verde_pequeno">
            Endereço
        </th>
        <th class="texto_verde_pequeno">
            Contato
        </th>
        <th>
        </th>
    </tr>
<% @lojas.each do |loja| %>
<tr>
	<td align="center"><%=link_loja(imagem_resultado_busca(loja),loja)%></td>
	<td align="center"><%=link_loja(loja.anunciante.nome,loja)%></td>
	<td align="center"><%=loja.anunciante.endereco_completo%></td>
	<td align="center"><%=[loja.telefone_responsavel,loja.celular_responsavel].join " ou "%></td>
	<td align="center"><%=link_loja("Ver estoque",loja)%></td>
</tr>
<% end %>
<tr>
	<td colspan="5"><%=paginacao @lojas%></td>
</tr>
</table>
<% end %>