<table class="create" width="100%">
<!--[form:cor]-->
<tr>
  <td width="175">
  	<%=f.label(:descricao, "Descrição")%>
  </td>
  <td><%=f.text_field :descricao  %>
    <%= error_message_on :cor, :descricao %>
  </td>
</tr>
<!--[eoform:cor]-->

<tr class="action">
  <td align="center" colspan="2">
    <%=  montar_botoes_salvar() %>
  </td>
</tr>
</table>