<div id="tabs">
  <ul>
    <li id="secao01" class="active">Cores</li>
	<li id="secao02"><%=link_to "Novas Cores", :action => :novo %></li>
  </ul>
</div>


<div id="conteudo">

<%=flash_message%>

<div id="form_pesquisa">
	<%=render :partial => "form_pesquisa" %>
</div>

<div id="resultado_pesquisa"><%=render :partial => "resultado_pesquisa" if defined?(@cores)%></div>

</div>