<% if !@anuncio_veiculo %>
  <p>Anuncio Veiculo não preenchido</p>
<% else %>
<tr>
  <td width="175">
  	<%= label(:anuncio, :tipo_veiculo, "Tipo de Veículo")%>
  </td>
  <td>
    <%= @anuncio_veiculo.tipo_veiculo.descricao %>
  </td>
</tr>
<tr>
  <td width="175">
  	<%= label(:anuncio, :marca, "Marca")%>
  </td>
  <td>
    <%= @anuncio_veiculo.marca.descricao %>
  </td>
</tr>
<tr>
  <td width="175">
  	<%= label(:anuncio, :modelo, "Modelo")%>
  </td>
  <td>
    <%= @anuncio_veiculo.modelo.descricao %>
  </td>
</tr>
<tr>
  <td width="175">
  	<%= label(:anuncio, :pais, "País")%>
  </td>
  <td>
    <%= @anuncio_veiculo.pais.nome %>
  </td>
</tr>
<tr>
  <td width="175">
  	<%= label(:anuncio, :estado, "Estado")%>
  </td>
  <td>
    <%= @anuncio_veiculo.estado.nome %>
  </td>
</tr>
<tr>
  <td width="175">
  	<%= label(:anuncio, :cidade, "Cidade")%>
  </td>
  <td>
    <%= @anuncio_veiculo.cidade.nome %>
  </td>
</tr>
<tr>
  <td width="175">
  	<%= label(:anuncio, :ano, "Ano")%>
  </td>
  <td>
    <%= @anuncio_veiculo.ano %>
  </td>
</tr>
<tr>
  <td width="175">
  	<%= label(:anuncio, :valor, "Valor")%>
  </td>
  <td>
    <%= @anuncio_veiculo.valor %>
  </td>
</tr>
<tr>
  <td width="175">
  	<%= label(:anuncio, :combustivel, "Combustivel")%>
  </td>
  <td>
    <%= get_combustivel(@anuncio_veiculo.combustivel) %>
  </td>
</tr>
<tr>
  <td width="175">
  	<%= label(:anuncio, :kilometragem, "Kilometragem")%>
  </td>
  <td>
    <%= @anuncio_veiculo.kilometragem %>
  </td>
</tr>
<tr>
  <td width="175">
  	<%= label(:anuncio, :cor, "Cor")%>
  </td>
  <td>
    <%= @anuncio_veiculo.cor.descricao %>
  </td>
</tr>
<tr>
  <td width="175">
  	<%= label(:anuncio, :opcionais, "Opcionais")%>
  </td>
  <td>
    <%= @anuncio_veiculo.opcionais.collect{|t| t.descricao}.join ", " %>
  </td>
</tr>

<% end %>