<table class="create" width="100%">
  <!--[form:cor]-->
  <tr>
    <td width="175">
      <%= label(:anuncio, :anunciante, "Anunciante")%>
    </td>
    <td>
      <%=  @anuncio.anunciante.nome  %>
    </td>
  </tr>
  <tr>
    <td width="175">
      <%= label(:anuncio, :plano, "Plano")%>
    </td>
    <td>
      <%= @anuncio.plano.descricao %>
    </td>
  </tr>
  <tr>
    <td width="175">
      <%= label(:anuncio, :descricao, "Descrição")%>
    </td>
    <td>
      <%= @anuncio.descricao  %>
    </td>
  </tr>
  <tr>
    <td width="175">
      <%= label(:anuncio, :expira_em, "Data de Expiração")%>
    </td>
    <td>
      <%= @anuncio.expira_em.to_s(:br_s)  %>
    </td>
  </tr>
  <tr>
    <td width="175">
      <%= label(:anuncio, :tipo, "Tipo")%>
    </td>
    <td>
      <%= get_tipo(@anuncio.tipo)  %>
    </td>
  </tr>
  <%= render_partial_tipo_anuncio(@anuncio.tipo) %>
  <tr>
    <td>
      <%=imagem_principal(@anuncio) %>
    </td>
    <td>
      <%=imagens(@anuncio) %>
    </td>
  </tr>
  
  <!--[eoform:cor]-->
</table>