<table width="100%" class="pesquisa" cellspacing="0">
  <tr>
    <td width="175">
      <%=label :anuncio, :tipo, "Tipo do Anúncio" %>
    </td>
    <td>
      <%=  select :anuncio, :tipo, tipos_planos  %>
    </td>
  </tr>  
  <tr>
    <td width="175">
      <%=label :anuncio,:descricao, "Descrição"%>
    </td>
    <td>
      <%=text_field :anuncio, :descricao %>
    </td>
  </tr>
  <tr>
    <td width="175">
      <%=label :anuncio,:anunciante, "Anunciante"%>
    </td>
    <td>
      <%=text_field :anuncio, :anunciante %>
    </td>
  </tr>
  <tr class="action">
    <td>
      &nbsp;
    </td>
    <td>
      <button type="submit">
        <img src="/images/icons/filter.gif" />Pesquisar
      </button>
    </td>
  </tr>
</table>
