
<%if @anunciantes.size == 0 %>
  <h1>Sem resultados</h1>
<% else %>
  <table width="100%" class="relatorio">
    <thead>
      <tr>
        <th>
          Id
        </th>
        <th>
          Descri&ccedil;&atilde;o
        </th>
        <th>
          Data de Expiração
        </th>        
        <th>
          Plano
        </th>
        <th>
          Tipo
        </th>
        <th>
          Data Pagamento
        <th>
          Situação
        </th>
        <th width="50">Ações</th>
      </tr>
    </thead>
    <tbody>
      <% @anunciantes.each do |anunciante| %>
        <tr>
          <th colspan="8">
            <%= anunciante.nome %>
          </th>
        </tr>
        <% anunciante.anuncios.each do |anuncio| %>
          <tr>
            <td align="center">
              <%= anuncio.id %>
            </td>
            <td>
              <%= anuncio.descricao %>
            </td>
            <td>
              <%= anuncio.expira_em.to_s(:br_s) %>
            </td>            
            <td>
              <%= anuncio.plano.descricao %>
            </td>            
            <td>
              <%=  get_tipo(anuncio.tipo) %>
            </td>            
            <td>
              <%= anuncio.data_pagamento.to_s(:br_s) rescue nil %>
            <td>
              <%=  situacao(anuncio) %>
            </td>            

            <td align="center" nowrap="nowrap">
              <%= link_to image_tag("icons/edit_file.gif"), :action => :visualizar, :id => anuncio %>
              <!--%= link_to_remote image_tag("icons/delete_file.gif"), :url => {:action => "apagar", :id => anuncio}, :with => "Form.serialize('form_pesquisa')" %-->
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="6" align="center">
          <%= paginacao_ajax @anunciantes, {:with => "Form.serialize('form_pesquisa')"} %>
        </td>
      </tr>
    </tfoot>
  </table>
<% end %>