<table class="create" width="100%">
<!--[form:anunciante]-->
<tr>
  <td width="175">
  	<%=f.label(:nome, label_nome)%>
  </td>
  <td><%=f.text_field :nome  %>
    <%= error_message_on :anunciante, :nome %>
  </td>
</tr>
<tr>
  <td>
  	<%=f.label(:email)%>
  </td>
  <td><%=f.text_field :email  %>
    <%= error_message_on :anunciante, :email %>
  </td>
</tr>
<tr>
  <td>
  	<%=f.label(:cpf)%>
  </td>
  <td><%=f.text_field :cpf  %>
    <%= error_message_on :anunciante, :cpf %>
  </td>
</tr>
<tr>
  <td>
  	<%=f.label(:senha)%>
  </td>
  <td><%=f.password_field :senha, :value => ""  %>
    <%= error_message_on :anunciante, :senha %>
  </td>
</tr>
<tr>
  <td>
  	<%=f.label(:senha_confirmation,"Confirme a senha")%>
  </td>
  <td><%=f.password_field :senha_confirmation, :value => ""  %></td>
</tr>
<tr>
  <td>
  	<%=f.label(:endereco,"Endereço")%>
  </td>
  <td><%=f.text_field :endereco  %>
  	<%= error_message_on :anunciante, :endereco %>
  </td>
</tr>
<tr>
  <td>
  	<label for="estado_id">Estado</label>
  </td>
  <td><%=select_tag :estado_id, estados, :onchange => remote_function(:url => {:action => :buscar_cidades},:with => "'estado_id='+this.value")  %></td>
</tr>
<tr>
  <td>
  	<%=f.label(:cidade_id)%>
  </td>
  <td>
  	<div id="div_select_cidade"><%= render :partial => "select_cidade"%></div>
  </td>
</tr>
<tr>
  <td>
  	<%=f.label(:telefone)%>
  </td>
  <td><%=f.text_field :telefone  %>
  	<%= error_message_on :anunciante, :telefone %>
  </td>
</tr>
<tr>
  <td>
  	<%=f.label(:celular)%>
  </td>
  <td><%=f.text_field :celular  %>
  	<%= error_message_on :anunciante, :celular %>
  </td>
</tr>
<tr>
  <td>
  	<%=f.label(:email_secundario)%>
  </td>
  <td><%=f.text_field :email_secundario  %>
  	<%= error_message_on :anunciante, :email_secundario %>
  </td>
</tr>
<tr>
  <td>
  	<%=f.label(:ativo,"Ativo?")%>
  </td>
  <td><%=f.check_box :ativo  %></td>
</tr>

<% if anunciante_loja? %>
<tr>
	<th colspan="2">Informações Adicionais</th>
</tr>
<tr>
  <td>
  	<%=label :loja, :cnpj%>
  </td>
  <td>
  	<%=text_field :loja, :cnpj  %>
  	<%= error_message_on :loja, :cnpj %>
  </td>
</tr>
<tr>
  <td>
  	<%=label :loja, :razao_social%>
  </td>
  <td>
  	<%=text_field :loja, :razao_social  %>
  	<%= error_message_on :loja, :razao_social %>
  </td>
</tr>
<tr>
  <td>
  	<%=label :loja, :site%>
  </td>
  <td>
  	<%=text_field :loja, :site  %>
  	<%= error_message_on :loja, :site %>
  </td>
</tr>
<tr>
  <td>
  	<%=label :loja, :mapa%>
  </td>
  <td>
  	<%=text_field :loja, :mapa  %>
  	<%= error_message_on :loja, :mapa %>
  </td>
</tr>
<tr>
  <td>
  	<%=label :loja, :telefone_responsavel%>
  </td>
  <td>
  	<%=text_field :loja, :telefone_responsavel  %>
  	<%= error_message_on :loja, :telefone_responsavel %>
  </td>
</tr>
<tr>
  <td>
  	<%=label :loja, :celular_responsavel%>
  </td>
  <td>
  	<%=text_field :loja, :celular_responsavel  %>
  	<%= error_message_on :loja, :celular_responsavel %>
  </td>
</tr>
<% end %>

<!--[eoform:anunciante]-->

<tr class="action">
  <td align="center" colspan="2">
    <%= montar_botoes_salvar() %>
  </td>
</tr>
</table>