<table class="create" width="100%">
  <!--[form:anunciante]-->
  <tr>
    <% tipo_lojas.in_groups_of(4,false).each do |tipo_lojas_agrupados| %>
      <tr>
        <% tipo_lojas_agrupados.each do |tipo_loja| %>
          <td width="25%" align="left" valign='top' class="texto_cinza"><%=check_box_tag "loja[tipo_loja_ids][]",tipo_loja.id, (@loja.tipo_lojas.include?(tipo_loja) rescue false), :class => "input" %><%=tipo_loja.descricao %></td>
        <% end %>
      </tr>
    <% end %>
      
    <!--[eoform:anunciante]-->
  </tr>
  <tr class="action">
    <td align="center" colspan="4">
      <%= montar_botoes_salvar({:salvar => true,:salvar_novo => false, :salvar_listar => false,:cancelar => true}) %>
    </td>
  </tr>
</table>