<%if @anunciantes.size == 0 %>
  <h1>Sem resultados</h1>
<% else %>
  <table width="100%" class="relatorio">
    <thead>
      <tr>
        <th>
          Id
        </th>
        <th>
          <%=label_nome%>
        </th>
        <th>
          Email
        </th>
        <th>
          Telefone
        </th>
        <th width="50">Ações</th>
      </tr>
    </thead>
    <tbody>
      <% @anunciantes.each do |anunciante| %>
        <tr>
          <td align="center">
            <%=anunciante.id %>
          </td>
          <td>
            <%=anunciante.nome %>
          </td>
          <td>
            <%=anunciante.email %>
          </td>
          <td>
            <%=anunciante.telefone %>
          </td>
          <td align="center" nowrap="nowrap">
            <% if anunciante_loja? %>
              <%= link_to image_tag("icons/list.gif", :alt => "Serviços"), :action => :servicos, :id => anunciante %>
            <% end %>
            <%= link_to image_tag("icons/edit_file.gif"), :action => :editar, :id => anunciante %>
            <%= link_to_remote image_tag("icons/delete_file.gif"), :url => {:action => "apagar", :id => anunciante}, :with => "Form.serialize('form_pesquisa')" %>
          </td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="6" align="center">
          <%= paginacao_ajax @anunciantes, {:with => "Form.serialize('form_pesquisa')"} %>
        </td>
      </tr>
    </tfoot>
  </table>
<% end %>