<div id="tabs">
  <ul>
    <li id="secao01" class="active"><%=topo_cabecalho%></li>
    <li id="secao02"><%=link_to "Novos(as) #{topo_cabecalho}", :action => :novo %></li>
  </ul>
</div>


<div id="conteudo">
  
  <%=flash_message%>
  
  <div id="form_pesquisa">
    <%=render :partial => "form_pesquisa" %>
  </div>
  
  <div id="resultado_pesquisa"><%=render :partial => "resultado_pesquisa" if defined?(@anunciantes)%></div>
  
</div>