<div id="tabs">
  <ul>
    <li id="secao01"><%=link_to topo_cabecalho, :action => :index, :tipo => (anunciante_loja? ? 1 : 0) %></li>
	<li id="secao02" class="active">Novos(as) <%=topo_cabecalho%></li>
  </ul>
</div>


<div id="conteudo">

<%=flash_message%>


<% form_for @anunciante, :url => {:action => :criar}, :html => {:id => "create", :name => "create"} do |f| -%>
	<%=render :partial => "form", :locals => {:f => f} %>
<% end %>


</div>