<div id="tabs">
  <ul>
    <li id="secao01"><%=link_to topo_cabecalho, :action => :index, :tipo => 1 %></li>
    <li id="secao02"><%=link_to "Novos(as) #{topo_cabecalho}", :action => :novo %></li>
    <li id="secao03" class="active">Serviços</li>
  </ul>
</div>


<div id="conteudo">
  
  <%=flash_message%>
  
  
  <% form_for @anunciante, :url => {:action => :atualizar_servicos, :id => @anunciante}, :html => {:id => "create", :name => "create"} do |f| -%>
    <%=render :partial => "form_servicos", :locals => {:f => f} %>
  <% end %>
  
  
</div>