<% if existem_anunciantes? %>
	<% @anunciantes.each do |anunciante| %>
	<strong>[<%=link_anunciantes(Anunciante::TIPOS[anunciante.tipo],anunciante)%>] <%=link_anunciantes(anunciante.nome,anunciante) %></strong> <strong><%=link_anunciantes(mascara_telefone(anunciante.telefone),anunciante) %></strong>, 
	criado em <strong><%=link_anunciantes(anunciante.created_at.to_s(:br),anunciante) %></strong> - 
	<strong><%=link_anunciantes(anunciante.email,anunciante) %></strong>
	<%=content_tag(:hr) unless @anunciantes.last == anunciante %>
	<% end %>
<% else %>
	Não existem anunciantes
<% end %>