<div id="tabs">
  <ul>
    <li id="secao01" class="active">Relatórios Gerais</li>
  </ul>
</div>

<div id="conteudo">

<table width="100%" class="relatorio">
	<tbody>
		<tr>
			<th width="50%">ANÚNCIOS MAIS VISTOS</th>
			<th width="50%">ÚLTIMOS ANUNCIANTES CADASTRADOS</th>
		</tr>
		
		<tr>
			<td valign="top">
				<%=render :partial => "anuncios_mais_vistos"%>
			</td>
			<td valign="top">
				<%=render :partial => "ultimos_anunciantes"%>
			</td>
		</tr>
		
		<tr>
			<th width="50%">ANÚNCIOS EXPIRADOS</th>
			<th width="50%">ANÚNCIOS A EXPIRAR</th>
		</tr>
		
		
		<tr>
			<td valign="top">
				<%=render :partial => "anuncios_expirados"%>
			</td>
			<td valign="top">
				<%=render :partial => "anuncios_a_expirar"%>
			</td>
		</tr>
	</tbody>
</table>

</div>