<%if @pedidos.size == 0 %>
<h1>Sem resultados</h1>
<% else %>
<table width="100%" class="relatorio">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Descri&ccedil;&atilde;o
            </th>
			<th>
				Tipo/Marca/Modelo
			</th>
			<th>
				Interessado
			</th>
            <th width="50">Ações</th>
        </tr>
    </thead>
    <tbody>
        <% @pedidos.each do |pedido| %>
        <tr>
            <td align="center">
                <%=pedido.id %>
            </td>
            <td>
                <%=truncate(pedido.descricao,255) %>
            </td>
            <td>
                <%=pedido.tipo_veiculo.descricao %> / 
                <%=pedido.marca.descricao %> / 
                <%=pedido.modelo.descricao %>
            </td>
            <td>
                <%=descricao_interessado(pedido) %>
            </td>
            <td align="center" nowrap="nowrap">
                <%= link_to image_tag("icons/edit_file.gif"), :action => :editar, :id => pedido %>
                <%= link_to_remote image_tag("icons/delete_file.gif"), :url => {:action => "apagar", :id => pedido}, :with => "Form.serialize('form_pesquisa')" %>
            </td>
        </tr>
        <% end %>
    </tbody>
	<tfoot>
		<tr>
			<td colspan="6" align="center">
				<%= paginacao_ajax @pedidos, {:with => "Form.serialize('form_pesquisa')"} %>
			</td>
		</tr>
	</tfoot>
</table>
<% end %>