<div id="conteudo">
	<%=flash_message%>
	
	<% form_for @administrador, :url => {:action => :entrar}, :html => {:id => "create", :name => "create", :multipart => true} do |f| -%>
	<table width="100%" class="pesquisa" cellspacing="0">
		<tr>
			<th colspan="2">
				Informe os dados para entrar no sistema
			</th>
		</tr>
	    <tr>
	        <td width="175">
	            <%=f.label :email%>
	        </td>
	        <td>
	            <%=f.text_field :email %>
	        </td>
	    </tr>
	    <tr>
	        <td width="175">
	            <%=f.label :senha%>
	        </td>
	        <td>
	            <%=f.password_field :senha, :value => "" %>
	        </td>
	    </tr>
	    <tr class="action">
	        <td>
	            &nbsp;
	        </td>
	        <td>
	            <button type="submit">
	                <img src="/images/icons/filter.gif" />Entrar
	            </button>
	        </td>
	    </tr>
	</table>
	<% end %>
</div>
