<% if opcionais.size > 0  %>
  <table>
    <tr>
      <td colspan="4" class="texto_cinza_titulo">Opcionais</td>
    </tr>
    <tr>
      <td colspan="2" class="texto_cinza_titulo"></td>
      <td colspan="2" class="texto_cinza_titulo"></td>
    </tr>
    <% opcionais.in_groups_of(4,false).each do |opcionais_agrupados| %>
      <tr>
        <% opcionais_agrupados.each do |opcional| %>
          <td width="25%" align="left" valign='top'><%=check_box_tag "anuncio_veiculo[opcional_ids][]",opcional.id, (@anuncio_veiculo.opcionais.include?(opcional) rescue false)%><%=opcional.descricao%></td>
        <% end %>
      </tr>
    <% end %>
  </table>
  <p>&nbsp;</p>
<% end %>