<%=select :anuncio_veiculo, :estado_id, estados, {},{:onchange => remote_function(:url => {:action => :buscar_cidades},:with => "'anuncio_veiculo[estado_id]='+this.value")} %>
<%=error_message_on :anuncio_veiculo, :estado_id%>