<%= stylesheet_link_tag "conteudo" %>

<img src="/images/tit_cadastro_anuncios.jpg" width="201" height="28">

<%=render :partial => "shared/menu_auxiliar" %>

<h1 class="texto_verde_pequeno">Anuncio de Veículos</h1>
<br />

<% form_for @anuncio, :url => {:action => :criar}, :html => {:id => "formulario", :name => "formulario", :multipart => true} do |f| -%>
  <table class="formulario">
    <tr>
      <td width="50%" class="texto_cinza_titulo">Planos</td>
      <td class="texto_cinza_titulo">Descrição</td>
    </tr>
    <tr>
      <td>
        <% planos.each do |plano| %>
          <span class="texto_cinza"><%=f.radio_button :plano_id, plano.id, :class => "radiobutton" %><strong><%=valor_plano(plano.valor)%></strong> <%=plano.descricao%> - <%=plano.vigencia%> dias de duração</span><br />
        <% end %>
        <%=f.error_message_on :plano_id%>
      </td>
      <td>
        <%=f.text_area :descricao, :size => "46x2" %>
        <%=f.error_message_on :descricao%>
      </td>
    </tr>
  </table>

  <p>&nbsp;</p>


  <table class="formulario">
    <tr>
      <td class="texto_cinza label" width="15%">
        Tipo de Veículo
      </td>
      <td  width="35%">
        <%=select :anuncio_veiculo, :tipo_veiculo_id, tipo_veiculos,{},{:onchange => remote_function(:url => {:action => :buscar_marcas}, :with => "'anuncio_veiculo[tipo_veiculo_id]='+this.value")} %>
        <%=error_message_on :anuncio_veiculo, :tipo_veiculo_id%>
      </td>
      <td class="texto_cinza label"  width="15%">
        Ano
      </td>
      <td>
        <%=text_field :anuncio_veiculo, :ano%>
        <%=error_message_on :anuncio_veiculo, :ano%>
      </td>
    </tr>
    <tr>
      <td height="10" colspan="4" class="texto_cinza"></td>
    </tr>
    <tr>
      <td class="texto_cinza label">
        Marca
      </td>
      <td>
        <span id="div_marcas"><%=render :partial => "select_marcas"%></span>
      </td>
    
      <td class="texto_cinza label">
        Valor
      </td>
      <td>
        <%=text_field :anuncio_veiculo, :valor%>
        <%=error_message_on :anuncio_veiculo, :valor%>
      </td>
    </tr>
    <tr>
      <td height="10" colspan="4" class="texto_cinza"></td>
    </tr>
    <tr>
      <td class="texto_cinza label">
        Modelo
      </td>
      <td>
        <span id="div_modelos"><%=render :partial => "select_modelos"%></span>
      </td>
    
      <td class="texto_cinza label">
        Combustível
      </td>
      <td>
        <%=select :anuncio_veiculo, :combustivel, combustiveis%>
        <%=error_message_on :anuncio_veiculo, :combustivel%>
      </td>
    </tr>
    <tr>
      <td height="10" colspan="4" class="texto_cinza"></td>
    </tr>
    <tr>
      <td class="texto_cinza label">
        País
      </td>
      <td>
        <%=select :anuncio_veiculo, :pais_id, paises,{},{:onchange => remote_function(:url => {:action => :buscar_estados}, :with => "'anuncio_veiculo[pais_id]='+this.value")} %>
        <%=error_message_on :anuncio_veiculo, :pais_id%>
      </td>
    
      <td class="texto_cinza label">
        Kilometragem
      </td>
      <td>
        <%=text_field :anuncio_veiculo, :kilometragem%>
        <%=error_message_on :anuncio_veiculo, :kilometragem%>
      </td>
    </tr>
    <tr>
      <td height="10" colspan="4" class="texto_cinza"></td>
    </tr>
    <tr>
      <td class="texto_cinza label">
        Estado
      </td>
      <td>
        <span id="div_estados"><%=render :partial => "select_estados"%></span>
      </td>
    
      <td class="texto_cinza label">
        Cor
      </td>
      <td>
        <%=select :anuncio_veiculo, :cor_id, cores %>
        <%=error_message_on :anuncio_veiculo, :cor_id%>
      </td>
    </tr>
    <tr>
      <td height="10" colspan="4" class="texto_cinza"></td>
    </tr>
    <tr>
      <td class="texto_cinza label">
        Cidade
      </td>
      <td colspan="3">
        <span id="div_cidades"><%=render :partial => "select_cidades"%></span>
      </td>
    </tr>
  </table>

  <p>&nbsp;</p>

  <div id="div_opcionais"><%=render :partial => "checkbox_opcionais"%></div>

  <table class="formulario">
    <tr>
      <td colspan="4" class="texto_cinza_titulo">
        <br>Fotos<br>
      </td>
    </tr>    
    <% 0.upto(1) do %>
      <tr>
        <% 0.upto(1) do %>
          <td width="50%" align="center">
            <span><%=file_field_tag "imagens[]", :class => "campo_arquivo" %></span>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>

  <%=content_tag :p, image_submit_tag("btn_cadastrar.jpg"), :align => "center"%>
<% end %>