<table class="create" width="100%">
<!--[form:anuncio]-->
<tr>
  <td width="175">
  	<%=f.label(:descricao)%>
  </td>
  <td><%=f.text_area :descricao, :style => "width:100%", :rows => 5  %>
    <%= error_message_on :anuncio, :descricao %>
  </td>
</tr>
<tr>
  <td>
  	<%=content_tag :label, "Link"%>
  </td>
  <td><%=text_field :anuncio_banner, :link %>
    <%= error_message_on :anuncio_banner, :link %>
  </td>
</tr>
<tr>
  <td>
  	<%=f.label(:plano_id)%>
  </td>
  <td><%=f.select :plano_id, planos  %>
    <%= error_message_on :anuncio, :plano_id %>
  </td>
</tr>
<tr>
  <td>
  	<%=f.label(:anunciante_id)%>
  </td>
  <td><%=f.select :anunciante_id, anunciantes  %>
    <%= error_message_on :anuncio, :anunciante_id %>
  </td>
</tr>
<tr>
  <td>
  	<%=label(:anuncio_banner, :width, "Largura")%>
  </td>
  <td><%=text_field :anuncio_banner, :width, :maxlength => 4  %>
    <%= error_message_on :anuncio_banner, :width %>
  </td>
</tr>
<tr>
  <td>
  	<%=label(:anuncio_banner, :height, "Altura")%>
  </td>
  <td><%=text_field :anuncio_banner, :height, :maxlength => 4  %>
    <%= error_message_on :anuncio_banner, :height %>
  </td>
</tr>
<tr>
  <td>
  	<%=label(:anuncio_banner, :wmode, "Transparência")%>
  </td>
  <td><%=text_field :anuncio_banner, :wmode, :maxlength => 20  %>
    <%= error_message_on :anuncio_banner, :wmode %>
  </td>
</tr>
<tr>
  <td>
  	<%=label(:anuncio_banner, :tipo)%>
  </td>
  <td><%=select :anuncio_banner, :tipo, tipos %>
    <%= error_message_on :anuncio, :tipo %>
  </td>
</tr>
<% if @anuncio_banner.arquivo %>
<tr>
  <td>
  	<%=label(:anuncio_banner, :arquivo)%>
  </td>
  <td>
        <%= mostrar_arquivo(@anuncio_banner)   %>
  </td>
</tr>
<% end %>
<tr>
  <td>
  	<%=label(:anuncio_banner, :arquivo)%>
  </td>
  <td><%=file_field :anuncio_banner, :arquivo  %>
  	<%= error_message_on :anuncio_banner, :arquivo %>
  </td>
</tr>
<!--[eoform:anuncio]-->

<tr class="action">
  <td align="center" colspan="2">
    <%= montar_botoes_salvar() %>
  </td>
</tr>
</table>