<%if @anuncios.size == 0 %>
<h1>Sem resultados</h1>
<% else %>
<table width="100%" class="relatorio">
    <thead>
    <tr>
        <th>
            Id
        </th>
		<th>
			Anunciante
		</th>
        <th>
            Descri&ccedil;&atilde;o
        </th>
        <th>
            Data de Expiração
        </th>
        <th>
            Plano
        </th>
        <th width="50">
            Ações
        </th>
    </tr>
    </tr>
</thead>
<tbody>
    <% @anuncios.each do |anuncio| %>
    <tr>
        <td align="center">
            <%=anuncio.id %>
        </td>
        <td>
            <%=anuncio.anunciante.nome %>
        </td>
        <td>
            <%=anuncio.descricao %>
        </td>
        <td>
          <%= anuncio.expira_em.to_s(:br_s) %>
        </td>            
        <td>
          <%= anuncio.plano.descricao %>
        </td> 
        <td align="center" nowrap="nowrap">
            <%= link_to image_tag("icons/edit_file.gif"), :action => :editar, :id => anuncio %>
            <%= link_to_remote image_tag("icons/delete_file.gif"), :url => {:action => "apagar", :id => anuncio}, :with => "Form.serialize('form_pesquisa')" %>
        </td>
    </tr>
    <% end %>
</tbody>
<tfoot>
    <tr>
        <td colspan="6" align="center">
            <%= paginacao_ajax @anuncios, {:with => "Form.serialize('form_pesquisa')"} %>
        </td>
    </tr>
</tfoot>
</table>
<% end %>