<%= stylesheet_link_tag "conteudo" %>
<img src="/images/titulo_servicos.gif" />
<p class="texto_cinza">As melhores empresas foram selecionadas para atender você e seu veículo. Clique na categoria abaixo para conhecê-las</p>

<table>
<% tipo_lojas.in_groups_of(4,false).each do |tipo_lojas_agrupados| %>
  <tr>
	<% tipo_lojas_agrupados.each do |tipo_loja| %>
	  <td width="25%" align="left" valign='top' class="texto_cinza">› (<%=tipo_loja.lojas.size%>) <%=link_to tipo_loja.descricao, :action => :ver, :id => tipo_loja%></td>
	<% end %>
  </tr>
<% end %>
</table>
<br />