<br />
<br />
<h1 class="texto_verde_pequeno">Tópicos</h1>
<table>
<% topico_noticias.in_groups_of(4,false).each do |topico_noticias_agrupados| %>
  <tr>
	<% topico_noticias_agrupados.each do |topico_noticia| %>
	  <td width="25%" align="left" valign='top' class="texto_cinza">› <%=link_to descricao_topico_noticia(topico_noticia), :action => :por_categoria, :id => topico_noticia%></td>
	<% end %>
  </tr>
<% end %>
</table>
<br />