<%= stylesheet_link_tag "conteudo" %>
<img src="/images/tit_noticias_interna.jpg" width="201" height="28"><%=render :partial => "html_topico_noticias" %>
<%=content_tag(:h1, @noticia.titulo, :class => "texto_azul_anuncio") %>
<span class="texto_cinza">
    <p>
        por: <strong><%=@noticia.autor %> às <%=@noticia.created_at.to_s(:br_s) %></strong>
    </p>
    <p>
        em: <strong><%=@noticia.topico_noticia.descricao %></strong>
    </p>
	<% unless @noticia.fonte.blank?%>
    <p>
        fonte: <strong><%=@noticia.fonte %></strong>
    </p>
	<% end %>
</span>

<%=@noticia.texto %>

<% unless imagem_principal(@noticia).blank?%>
<table>
    <tr>
        <td>
            <%=imagem_principal @noticia %>
        </td>
        <td width="100%" valign="top">
        	<%= imagens(@noticia)%>
        </td>
    </tr>
</table>
<% end %>
