@charset "utf-8";
/* CSS Document */

table.resultado_busca
{
	padding:0;
	margin:0;
	border:1px solid #ccc;
	border-collapse:collapse;
}

table.resultado_busca td, table.resultado_busca tr,table.resultado_busca th
{
	border:1px solid #ccc;
	border-collapse:collapse;
	vertical-align:middle;
}

table.resultado_busca td,table.resultado_busca th
{
	padding:2px;
}


table.resultado_busca th
{
	height:30px;
}
