@charset "utf-8";
/* CSS Document */
div#divLoading {
    padding: 2px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    background-color: red;
    color: white;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 999;
} * {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}

select, textarea, input {
    font-size: 10px;
}

body {
    margin: 0px;
    background: url("/images/fundo.jpg") repeat-x;
}

form, h2, h1, h3 {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table {
    border: 0;
}

div#site {
    width: 901px;
    margin: 0 auto;
    left: -450px;
}

div#topo {
    width: 100%;
    position: relative;
    height: 108px;
}

div#topo h1 {
    text-indent: -99999px;
    background: url(/images/logo.jpg) no-repeat top left;
    width: 432px;
    height: 108px;
    margin: 0;
    padding: 0;
}

div#topo #banner_topo {
    border: 1px solid #DDD;
    width: 468px;
    height: 60px;
    position: absolute;
    right: 0px;
    top: 20px;
}

div#menu {
    padding-bottom: 25px;
}

div#menu ul, div#submenu ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

div#menu ul li {
    height: 31px;
}

div#submenu {
    margin: 18px 0;
}

div#submenu ul li, div#menu ul li {
    display: inline;
}

a, img {
    border: 0px;
}

div#coluna_buscas {
    width: 177px;
    float: left;
    margin-right: 10px;
}

div#coluna_buscas h1 {
    color: white;
    font-family: Arial;
    font-size: 13px;
    letter-spacing: -1;
}

div#coluna_buscas select {
    width: 100%;
}

div#busca_veiculos_acessorios {
    background: url(/images/fundoazul_busca.jpg) repeat-x top left;
}

div#busca_veiculos_acessorios div.separador {
    height: 32px;
    background: url('/images/spacer_busca_veiculos.jpg') center no-repeat;
}

div#busca_veiculos_acessorios p, div#busca_lojas p {
    font-size: 10px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 4px;
    margin-top: 10px;
}

div#busca_veiculos_acessorios p.botao {
    margin-top: 10px;
}

div#busca_veiculos_acessorios select.preco {
    width: 70px;
}

div#topo_fundo_busca {
    background: url(/images/topo_fundo_busca.jpg) top left no-repeat;
    height: 20px;
}

div#base_fundo_busca_veiculos {
    background: url(/images/base_fundo_busca_veiculos.jpg) top left no-repeat;
    height: 15px;
}

div#busca_veiculos, div#busca_acessorios, div#busca_lojas form {
    padding: 0 8px;
}

div#busca_veiculos #tit_busca_veiculos {
    background: url('/images/tit_busca_veiculos.jpg') no-repeat top left;
}

div#busca_lojas {
    background: url(/images/fundo_busca_lojas.jpg) top left no-repeat;
    margin-top: 8px;
	height:100px;
}

div#busca_lojas
{
	padding-top:14px;
}

div#area_cliente, div#cadastre_se {
    margin-top: 10px;
    text-align: center;
}

div#area_cliente {
    background: url(/images/fundoamarelo_cliente.jpg) top left repeat-x;
}

div#conteudo {
    width: 564px;
    float: left;
}

div#home {
    width: 564px;
    text-align: left;
    vertical-align: top;
}

div#home div {
    float: left;
}

div#home_esquerda {
    width: 280px;
}

div#home_meio {
    width: 30px;
    text-align: center;
}

div#home_direita {
    width: 254px;
}

div#publicidade {
    width: 120px;
    float: left;
    text-align: right;    
    margin-left: 10px;
}

ul#banners {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul#banners li {
    margin: 0 0 5px 0;
    
}

ul#banners li div {
	height: 60px;
}

div#rodape {
    background-color: #DADADA;
    text-align: center;
    padding-bottom: 14px;
    clear: both;
}

div#menu_rodape {
    padding-top: 14px;
    margin-bottom: 20px;
}

div#menu_rodape ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

div#menu_rodape ul li, div#menu_rodape a {
    display: inline;
    font-size: 12px;
}

div#menu_rodape ul li.separador_menu_rodape
{
	margin:0 10px !important;
}

a, .texto_busca_veiculos, .texto_cinza, .texto_verde_pequeno, .texto_cinza_titulo, .texto_cinza_bold {
} .texto_busca_veiculos, .texto_cinza, .texto_cinza_bold {
    font-size: 11px;
} .texto_busca_veiculos {
    font-weight: bold;
    color: #FFFFFF;
} .texto_cinza, div#menu_rodape a, div#conteudo a, div#menu_rodape ul li {
    color: #666666;
} .texto_verde_pequeno {
    font-size: 15px;
    font-weight: bold;
    color: #00923F;
} .texto_cinza_titulo {
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    color: #666666;
} .texto_cinza_bold {
    font-weight: bold;
    color: #666666;
} .form_busca_menor {
    color: #FFFFFF;
    border: solid 1px #CCCCCC;
    width: 42px;
    height: 10px;
} .form_busca_maior {
    color: #FFFFFF;
    border: solid 1px #CCCCCC;
    width: 139px;
    height: 10px;
}

div.formError {
    color: #FF0000;
}

div#div_opcionais {
    text-align: center;
}


.texto_azul_anuncio {
font-size:30px !important;
font-weight:bold !important;
color:#33336A !important;
}


hr.linha_separacao
{
	color:#cccccc;
	margin:20px 0;
}