<table class="create" width="100%">
<!--[form:foto_noticia]-->
<tr>
  <td width="175">
  	<%=f.label(:noticia_id, "Notícia")%>
  </td>
  <td><%=f.select :noticia_id, noticias  %>
    <%= error_message_on :foto_noticia, :noticia_id %>
  </td>
</tr>
<tr>
  <td width="175">
  	<%=f.label(:arquivo, "Arquivo")%>
  </td>
  <td><%=file_field :foto_noticia, :arquivo  %>
    <%= error_message_on :foto_noticia, :arquivo %>
  </td>
</tr>
<% unless nova_foto? %>
<tr>
  <td>
  </td>
  <td><%=image_tag @foto_noticia.arquivo.url(:thumb) %></td>
</tr>
<% end %>
<tr>
  <td>
  	<%=f.label(:descricao, "Descrição")%>
  </td>
  <td><%=f.text_field :descricao  %>
    <%= error_message_on :foto_noticia, :descricao %>
  </td>
</tr>
<tr>
  <td>
  	<%=f.label(:principal, "Foto Principal?")%>
  </td>
  <td><%=f.check_box :principal  %>
    <%= error_message_on :foto_noticia, :principal %>
  </td>
</tr>
<!--[eoform:foto_noticia]-->

<tr class="action">
  <td align="center" colspan="2">
    <%=  montar_botoes_salvar() %>
  </td>
</tr>
</table>