<%if @foto_noticias.size == 0 %>
<h1>Sem resultados</h1>
<% else %>
<table width="100%" class="relatorio">
    <thead>
        <tr>
            <th>
                Id
            </th>
			<th>
                Notícia
            </th>
            <th>
                Arquivos
            </th>
            <th>
                Descrição
            </th>
            <th width="50">Ações</th>
        </tr>
    </thead>
    <tbody>
        <% @foto_noticias.each do |foto_noticia| %>
        <tr>
            <td align="center">
                <%=foto_noticia.id %>
            </td>
			<td>
                <%=foto_noticia.noticia.titulo %><br />
                <%=foto_noticia.noticia.created_at.to_s(:br) %>
            </td>
            <td>
                <%=link_to "Versão normal",foto_noticia.arquivo.url, :target => "_blank" %><br />
                <%=link_to "Thumbnail",foto_noticia.arquivo.url(:thumb), :target => "_blank" %>
            </td>
			<td><%=foto_noticia.descricao%></td>
            <td align="center" nowrap="nowrap">
                <%= link_to image_tag("icons/edit_file.gif"), :action => :editar, :id => foto_noticia %>
                <%= link_to_remote image_tag("icons/delete_file.gif"), :url => {:action => "apagar", :id => foto_noticia}, :with => "Form.serialize('form_pesquisa')" %>
            </td>
        </tr>
        <% end %>
    </tbody>
	<tfoot>
		<tr>
			<td colspan="6" align="center">
				<%= paginacao_ajax @foto_noticias, {:with => "Form.serialize('form_pesquisa')"} %>
			</td>
		</tr>
	</tfoot>
</table>
<% end %>