<div id="tabs">
  <ul>
    <li id="secao01"><%=link_to "Fotos de Notícias", :action => :index %></li>
	<li id="secao02" class="active">Edição de Fotos de Notícias</li>
  </ul>
</div>


<div id="conteudo">

<%=flash_message%>


<% form_for @foto_noticia, :url => {:action => :atualizar, :id => @foto_noticia}, :html => {:id => "create", :name => "create", :multipart => true} do |f| -%>
	<%=render :partial => "form", :locals => {:f => f} %>
<% end %>


</div>