<% if @anuncios_veiculos_destaques.size > 0 || @anuncios_acessorios_destaques.size > 0 %>
<br />
<table width="100%">
<tr>
	<% if @anuncios_veiculos_destaques.size > 0 %>
	<td width="50%" valign="top">
		<table width="100%"> 
		<tr>
		    <td height="40" colspan="3" align="left" valign="top">
		        <img src="/images/tit_veic_destaque.jpg" width="201" height="28">
		    </td>
		</tr>
		<tr>
			<td></td>
		</tr>
		<% @anuncios_veiculos_destaques.in_groups_of(2,false).each do |anuncios_veiculos| %>
		<tr>
		    <% anuncios_veiculos.each do |anuncio_veiculo| %>
		    <td width="50%" align="center">
		        <%= imagem_destaque(anuncio_veiculo.anuncio) %>
		        <br/>
		        <%=link_anuncios(anuncio_veiculo.nome_frontend,anuncio_veiculo.anuncio) %>
		    </td>
		    <% end %>
		</tr>
		<% end %>
		<tr>
			<td></td>
		</tr>
		<tr>
		    <td height="15" colspan="2" align="right">
		        <span class="texto_cinza_bold"><%=link_to "Mais Veículos ›", :controller => :veiculos %></span>
		    </td>
		</tr>
		</table>
		
		
	</td>
	<% end %>
	<% if @anuncios_acessorios_destaques.size %>
	<td width="50%" valign="top">
		<table width="100%"> 
		<tr>
		    <td colspan="3" align="left" valign="top">
		        <img src="/images/tit_acess_destaque.jpg" />
		    </td>
		</tr>
		<tr>
			<td></td>
		</tr>
		<% @anuncios_acessorios_destaques.in_groups_of(2,false).each do |anuncios_acessorios| %>
		<tr>
		    <% anuncios_acessorios.each do |anuncio_acessorio| %>
		    <td width="50%" align="center">
		    	<%= imagem_destaque(anuncio_acessorio.anuncio) %>
                <br/>
                <%=link_anuncios(anuncio_acessorio.anuncio.descricao,anuncio_acessorio.anuncio) %>
            </td>
		    <% end %>
		</tr>
		<% end %>
		<tr>
		    <td height="15" colspan="2" align="right">
		        <span class="texto_cinza_bold"><%=link_to "Mais Acessórios ›", :controller => :acessorios %></span>
		    </td>
		</tr>
		</table>
		
	</td>
	<% end %>
</tr>
</table>
<% end %>