<%=hidden_field_tag 'botao_clicado'%>
<% if botoes[:salvar] == true %>
<button type="submit" name="salvar" onclick="setarBotaoAoSalvar(this)">
	<img src="/images/icons/ok.gif" /> Salvar
</button>
<% end %>
<% if botoes[:salvar_listar] == true %>
<button type="submit" name="salvar_listar" onclick="setarBotaoAoSalvar(this)">
	<img src="/images/icons/ok.gif" /> Salvar e Listar
</button>
<% end %>
<% if botoes[:salvar_novo] == true %>
<button type="submit" name="salvar_novo" onclick="setarBotaoAoSalvar(this)">
	<img src="/images/icons/ok.gif" /> Salvar e Cadastrar outro
</button>
<% end %>
<% if botoes[:cancelar] == true %>
<button type="submit" name="cancelar" onclick="setarBotaoAoSalvar(this)">
	<img src="/images/icons/delete.gif" /> Cancelar
</button>
<% end %>
<% if botoes[:limpar] == true %>
<button type="button" name="limpar" onclick="limpaForm(this.form)">
	<img src="/images/icons/refresh.gif" /> Limpar
</button>
<% end %>