<div id="menu_rodape">
    <ul>
        <li>
            <%=link_to "Página inicial", :controller => :home %>
        </li>
        <li class="separador_menu_rodape">|</li>
        <li>
            <%=link_to "Administrar anúncios", :controller => :painel_anunciante %>
        </li>
        <li class="separador_menu_rodape">|</li>
        <li>
            Cadastre-se: <%=link_to "Particular", :controller => :cadastro %> ou <%=link_to "Lojista", :controller => :cadastro, :tipo => Anunciante::LOJA %>
        </li>
        <li class="separador_menu_rodape">|</li>
        <li>
            <%=link_to "Notícias", :controller => :noticias %>
        </li>
        <li class="separador_menu_rodape">|</li>
        <li>
            <%=link_to "Comprar", :controller => :veiculos %>
        </li>
		<!--
        <li class="separador_menu_rodape">|</li>
        <li>
            <% link_to "Fazer um pedido", :controller => :home %>
        </li>
        <li class="separador_menu_rodape">|</li>
        <li>
            <%=link_to "Vender", :controller => :anunciar_veiculo %>
        </li>
		-->
        <li class="separador_menu_rodape">|</li>
        <li>
            <%= link_to "Serviços", :controller => :servicos %>
        </li>
		
        <li class="separador_menu_rodape">|</li>
        <li>
            <%=link_to "Lojas", :controller => :lojas %>
        </li>
        <li class="separador_menu_rodape">|</li>
        <li>
            <%=link_to "Fale Conosco", :controller => :contato %>
        </li>
    </ul>
</div>
