<table class="create" width="100%">
<!--[form:plano]-->
<tr>
  <td width="175">
  	<%=f.label(:tipo, "Tipo do Plano")%>
  </td>
  <td><%=f.select :tipo, tipos_planos  %>
    <%= error_message_on :plano, :tipo %>
  </td>
</tr>
<tr>
  <td width="175">
  	<%=f.label(:descricao, "Descrição")%>
  </td>
  <td><%=f.text_field :descricao  %>
    <%= error_message_on :plano, :descricao %>
  </td>
</tr>
<tr>
  <td width="175">
  	<%=f.label(:vigencia, "Vigencia")%>
  </td>  
  <td><%=f.text_field :vigencia  %> dias
    <%= error_message_on :plano, :vigencia %>
  </td>  
</tr>
<tr>
  <td width="175">
  	<%=f.label(:valor, "Valor")%>
  </td>  
  <td><%=f.text_field :valor  %>
    <%= error_message_on :plano, :valor %>
  </td>  
</tr>
<tr>
  <td width="175">
  	<%=f.label(:destaque, "Destaque")%>
  </td>  
  <td><%= f.check_box :destaque, :disabled => mostrar_destaque(@plano)  %>
    <%= error_message_on :plano, :destaque %>
  </td>    
</tr>
<!--[eoform:plano]-->

<tr class="action">
  <td align="center" colspan="2">
    <%=  montar_botoes_salvar() %>
  </td>
</tr>
</table>