<%if @planos.size == 0 %>
<h1>Sem resultados</h1>
<% else %>
<table width="100%" class="relatorio">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Descri&ccedil;&atilde;o
            </th>
            <th>
              Tipo
            </th>
            <th>
              Valor
            </th>
            <th>
              Destaque
            </th>
              
            <th width="50">Ações</th>
        </tr>
    </thead>
    <tbody>
        <% @planos.each do |plano| %>
        <tr>
            <td align="center">
                <%=plano.id %>
            </td>
            <td>
                <%=plano.descricao %>
            </td>
            <td>
              <%= get_tipo(plano.tipo) %>
            </td>
            <td>
              <%= plano.valor.real_formatado %>
            </td>
            <td>
              <%= plano.destaque %>
            </td>
            <td align="center" nowrap="nowrap">
                <%= link_to image_tag("icons/edit_file.gif"), :action => :editar, :id => plano %>
                <!--%= link_to_remote image_tag("icons/delete_file.gif"), :url => {:action => "apagar", :id => plano}, :with => "Form.serialize('form_pesquisa')" %-->
            </td>
        </tr>
        <% end %>
    </tbody>
	<tfoot>
		<tr>
			<td colspan="6" align="center">
				<%= paginacao_ajax @planos, {:with => "Form.serialize('form_pesquisa')"} %>
			</td>
		</tr>
	</tfoot>
</table>
<% end %>