<%=select :busca_anuncio_veiculo, :marca_id, busca_marcas,{},
		  :onchange => remote_function(:url => {:controller => :home, :action => :buscar_modelos}, :with => "Form.serialize('form_busca_lateral_veiculos')") %>