<%= stylesheet_link_tag "home" %>
<div id="home">
    <div id="home_esquerda">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td height="38" colspan="2" align="left" valign="top">
                    <img src="/images/tit_veic_destaque.jpg" width="201" height="28">
                </td>
            </tr>
			<% @anuncios_veiculos_destaques.in_groups_of(2,false).each do |anuncios| %>
			<tr>
                <td height="10" colspan="2"></td>
            </tr>
            <tr>
                <% anuncios.each do |anuncio| %>
                <td width="50%" align="center" valign="top">
                    <%= imagem_destaque(anuncio) %>
                    <br/>
                    <%=link_anuncios(anuncio.extensao.nome_frontend,anuncio) %>
                </td>
                <% end %>
            </tr>
            <% end %>
            <tr>
                <td height="14" colspan="2">
                </td>
            </tr>
            <tr>
                <td height="15" colspan="2" align="right">
                    <span class="texto_cinza_bold"><%=link_to "Mais Veículos ›", :controller => :veiculos %></span>
                </td>
            </tr>
            <tr>
                <td height="20" colspan="2"></td>
            </tr>
            <tr>
                <td height="40" colspan="2" align="left" valign="top">
                    <img src="/images/tit_acess_destaque.jpg" width="240" height="28">
                </td>
            </tr><% @anuncios_acessorios_destaques.in_groups_of(2,false).each do |anuncios| %>
            <tr>
                <% anuncios.each do |anuncio| %>
                <td width="50%" align="center" valign="top">
                    <%= imagem_destaque(anuncio) %>
                    <br/>
                    <%=link_anuncios(anuncio.descricao,anuncio) %>
                </td>
                <% end %>
            </tr>
            <% end %>
			<tr>
                <td height="14" colspan="2">
                </td>
            </tr>
            <tr>
                <td height="15" colspan="2" align="right">
                    <span class="texto_cinza_bold"><%=link_to "Mais Acessórios ›", :controller => :acessorios %></span>
                </td>
            </tr>
        </table>
    </div>
    <div id="home_meio">
        <img src="/images/traco_meio_capa.jpg" width="10" height="853">
    </div>
    <div id="home_direita">
        <table width="100%">
            <tr>
                <td height="40" colspan="3" align="left" valign="top">
                    <img src="/images/tit_noticias_capa.jpg" width="77" height="24">
                </td>
            </tr>
			<% cache(CACHE_HOME_NOTICIAS) do %>
			<% @noticias.each do |noticia| %>
            <% if noticia == @noticias.first && noticia.foto_principal %>
            <tr>
                <td>
                    <%=link_noticia(imagem_principal_noticia(noticia),noticia) %>
                </td>
                <td width="8">
                    &nbsp;
                </td>
                <td width="100%">
                    <span class="texto_cinza_bold"><%=link_noticia(noticia.titulo,noticia) %></span>
                    <br>
                    <span class="texto_cinza"><%=link_noticia(noticia.entrada,noticia) %></span>
                </td>
            </tr>
            <% else %>
            <tr>
                <td colspan="3">
                    <span class="texto_cinza_bold"><%=link_noticia(noticia.titulo,noticia) %></span>
                    <br>
                    <span class="texto_cinza"><%=link_noticia(noticia.entrada,noticia) %></span>
                </td>
            </tr>
            <% end %><!-- Final de noticias com ou sem imagens -->
            <% if noticia != @noticias.last %>
            <tr>
                <td height="6" colspan="3">
                	<hr class="linha_separacao" />
                </td>
            </tr>
            <% end %>
            <% end %><!--Separacao de loop -->
			<% end %>
			<tr>
                <td height="6" colspan="3">
                </td>
            </tr>
            <tr>
                <td height="15" colspan="3" class="texto_cinza_bold" align="right">
                    <%=link_to "Mais Notícias ›", :controller=>:noticias %>
                </td>
            </tr>
            <tr>
                <td height="20" colspan="3"></td>
            </tr>
            <tr>
                <td height="40" colspan="3" align="left" valign="top">
                    <img src="/images/tit_guia_infocar.jpg" width="116" height="23">
                </td>
            </tr>
        </table>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
        	<% cache(CACHE_HOME_TIPO_LOJAS) do %>
            <% tipos_lojas.in_groups_of(2,false).each do |tipos_lojas_agrupadas| %>
            <tr>
                <% tipos_lojas_agrupadas.each do |tipo_loja| %>
                <td align="left" valign="top" class="texto_cinza" width="50%">
                › <%=link_to tipo_loja.descricao, :controller => :servicos, :action => :ver, :id => tipo_loja %>
                <% end %>
            </tr>
            <% end %>
			<% end %>
        </table>
		<% if @anuncios_veiculos_ofertas.size > 0%>
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
            <td height="20"></td>
        </tr>
		<tr>
            <td height="40" align="left" valign="top">
                <img src="/images/tit_ofertas.jpg" />
            </td>
        </tr>
		<% @anuncios_veiculos_ofertas.each do |anuncio| %>
		<tr>
			<td>
				<span class="texto_cinza_bold"><%=link_anuncios(anuncio.extensao.nome_frontend.gsub(/<br \/>/,'. Ano: '),anuncio) %></span>
                <br>
                <span class="texto_cinza"><%=link_anuncios(truncate(anuncio.descricao,150),anuncio) %></span>
			</td>
		</tr>
		<% unless @anuncios_veiculos_ofertas.last == anuncio%>
		<tr>
			<td>
				<hr class="linha_separacao" />
			</td>
		</tr>
		<% end %>
		<% end %>
        </table>
        <% end %>
		
    </div>
    <div style="clear:both">
    </div>
</div>
