<% form_tag({:controller => :veiculos, :action => :pesquisar},{:id => "form_busca_veiculos"}) do -%>
  <table class="formulario">
    <tr>
      <td class="texto_cinza label" width="15%">
        Tipo de Veículo
      </td>
      <td  width="35%">
        <%=select :busca_anuncio_veiculo, :tipo_veiculo_id, tipo_veiculos,{},{:onchange => remote_function(:url => {:action => :buscar_marcas}, :with => "'busca_anuncio_veiculo[tipo_veiculo_id]='+this.value")} %>
        <%=error_message_on :busca_anuncio_veiculo, :tipo_veiculo_id%>
      </td>
      <td class="texto_cinza label"  width="15%">
        Ano
      </td>
      <td>
        <%=text_field :busca_anuncio_veiculo, :ano%>
        <%=error_message_on :busca_anuncio_veiculo, :ano%>
      </td>
    </tr>
    <tr>
      <td height="10" colspan="4" class="texto_cinza"></td>
    </tr>
    <tr>
      <td class="texto_cinza label">
        Marca
      </td>
      <td>
        <span id="div_marcas"><%=render :partial => "select_marcas"%></span>
      </td>
    
      <td class="texto_cinza label">
        Valor
      </td>
      <td>
        <%=text_field :busca_anuncio_veiculo, :valor%>
        <%=error_message_on :busca_anuncio_veiculo, :valor%>
      </td>
    </tr>
    <tr>
      <td height="10" colspan="4" class="texto_cinza"></td>
    </tr>
    <tr>
      <td class="texto_cinza label">
        Modelo
      </td>
      <td>
        <span id="div_modelos"><%=render :partial => "select_modelos"%></span>
      </td>
    
      <td class="texto_cinza label">
        Combustível
      </td>
      <td>
        <%=select :busca_anuncio_veiculo, :combustivel, combustiveis%>
        <%=error_message_on :busca_anuncio_veiculo, :combustivel%>
      </td>
    </tr>
    <tr>
      <td height="10" colspan="4" class="texto_cinza"></td>
    </tr>
    <tr>
      <td class="texto_cinza label">
        País
      </td>
      <td>
        <%=select :busca_anuncio_veiculo, :pais_id, paises,{},{:onchange => remote_function(:url => {:action => :buscar_estados}, :with => "'busca_anuncio_veiculo[pais_id]='+this.value")} %>
        <%=error_message_on :busca_anuncio_veiculo, :pais_id%>
      </td>
    
      <td class="texto_cinza label">
        Kilometragem
      </td>
      <td>
        <%=text_field :busca_anuncio_veiculo, :kilometragem%>
        <%=error_message_on :busca_anuncio_veiculo, :kilometragem%>
      </td>
    </tr>
    <tr>
      <td height="10" colspan="4" class="texto_cinza"></td>
    </tr>
    <tr>
      <td class="texto_cinza label">
        Estado
      </td>
      <td>
        <span id="div_estados"><%=render :partial => "select_estados"%></span>
      </td>
    
      <td class="texto_cinza label">
        Cor
      </td>
      <td>
        <%=select :busca_anuncio_veiculo, :cor_id, cores %>
        <%=error_message_on :busca_anuncio_veiculo, :cor_id%>
      </td>
    </tr>
    <tr>
      <td height="10" colspan="4" class="texto_cinza"></td>
    </tr>
    <tr>
      <td class="texto_cinza label">
        Cidade
      </td>
      <td colspan="3">
        <span id="div_cidades"><%=render :partial => "select_cidades"%></span>
      </td>
    </tr>
	<tr>
      <td height="10" colspan="4" class="texto_cinza"></td>
    </tr>
	<tr>
		<td class="texto_cinza label">
        Faixa de Preço
      </td>
      <td colspan="3">
        <%=select :busca_anuncio_veiculo, :faixa_preco_inicial, busca_faixas_precos_veiculos, {}, :class => "preco" %>
        a <%=select :busca_anuncio_veiculo, :faixa_preco_final, busca_faixas_precos_veiculos, {}, :class => "preco" %>
      </td>
	</tr>
  </table>

  <p>&nbsp;</p>

  <div id="div_opcionais"><%=render :partial => "checkbox_opcionais"%></div>


  <%=content_tag :p, image_submit_tag("botao_buscar.gif"), :align => "center"%>
<% end %>