<% form_remote_tag(:url => {:action => :enviar_proposta, :id => params[:id]}) do -%>
<table class="formulario">
	<tr>
		<td class="texto_cinza label" width="20%">Nome</td>
		<td><%=text_field :envio_proposta, :nome %>
		<%=error_message_on :envio_proposta, :nome %></td>
		<td rowspan="4" class="texto_cinza">
			Proposta<br />
			<%=text_area :envio_proposta, :proposta, :rows => 4 %>
			<%=error_message_on :envio_proposta, :proposta %>
		</td>
	</tr>
	<tr>
		<td class="texto_cinza label" width="20%">E-mail</td>
		<td><%=text_field :envio_proposta, :email %>
		<%=error_message_on :envio_proposta, :email %></td>
	</tr>
	<tr>
		<td class="texto_cinza label" width="20%">Telefone</td>
		<td><%=text_field :envio_proposta, :telefone %></td>
	</tr>
	<tr>
		<td class="texto_cinza label" width="20%">Cidade/UF</td>
		<td><%=text_field :envio_proposta, :localizacao %></td>
	</tr>
	<tr>
		<td colspan="3"></td>
	</tr>
	<tr>
		<td></td>
		<td><%=image_submit_tag "btn_enviar_anuncio.gif", :id => "btn" %></td>
		<td></td>
	</tr>
</table>
<% end %>