<%if @anuncios.size == 0 %>
  <h1>Sem resultados</h1>
<% else %>

  <table class="resultado">
    <tr>
      <th class="texto_verde_pequeno">Foto</th>
      <th class="texto_verde_pequeno">Anunciante</th>
      <th class="texto_verde_pequeno">Modelo</th>
      <th class="texto_verde_pequeno">Ano</th>
      <th class="texto_verde_pequeno">Cor</th>
      <th class="texto_verde_pequeno">Valor</th>
    </tr>
    <% @anuncios.each do |anuncio| %>
      <tr>
        <td id="foto">
          <%=link_anuncios(imagem_resultado_busca(anuncio),anuncio)%>
        </td>
        <td>
          <%=link_anuncios(anuncio.anunciante.nome,anuncio)%>
        </td>
        <td>
          <%=link_anuncios(anuncio.anuncio_veiculo.modelo.descricao,anuncio)%>
        </td>
        <td>
          <%=link_anuncios(anuncio.anuncio_veiculo.ano,anuncio)%>
        </td>
        <td>
          <%=link_anuncios(anuncio.anuncio_veiculo.cor.descricao,anuncio)%>
        </td>
        <td>
          <%=link_anuncios(valor_publico(anuncio.anuncio_veiculo.valor),anuncio)%>
        </td>
      </tr>
    <% end %>
  </table>

  <%=paginacao_ajax @anuncios, {:with => "Form.serialize('form_busca_veiculos')"} %>
<% end %>