<%=select :busca_anuncio_veiculo, :estado_id, estados, {},{:onchange => remote_function(:url => {:action => :buscar_cidades},:with => "'busca_anuncio_veiculo[estado_id]='+this.value")} %>
<%=error_message_on :busca_anuncio_veiculo, :estado_id%>