<%= stylesheet_link_tag "conteudo" %>

<img src="/images/tit_resultado da busca.jpg" width="201" height="28">

<%=render :partial => "shared/menu_auxiliar" %>

<div id="form_pesquisa" style="display:none">
	<%=render :partial => "form" %>
</div>


<div id="resultado_pesquisa"><%=render :partial => "resultado_pesquisa" %></div>