<%= stylesheet_link_tag "conteudo" %>

<img src="/images/tit_cadastro_anuncios.jpg" width="201" height="28">

<%=render :partial => "shared/menu_auxiliar" %>

<h1 class="texto_verde_pequeno">Preencha os dados abaixo para efetuar seu pedido</h1>
<br />

<% form_for @pedido, :url => {:action => :criar}, :html => {:id => "formulario", :name => "formulario", :multipart => true} do |f| -%>
  <table class="formulario">
    <tr>
      <td class="texto_cinza label" width="15%">
        Nome
      </td>
      <td>
        <%=f.text_field :interessado %>
        <%=f.error_message_on :interessado%>
      </td>
      <td class="texto_cinza label" width="15%">
        Email
      </td>
      <td>
        <%=f.text_field :email %>
        <%=f.error_message_on :email%>
      </td>
    </tr>
    <tr>
      <td class="texto_cinza label" width="15%">
        Telefone
      </td>
      <td>
        <%=f.text_field :telefone %>
        <%=f.error_message_on :telefone%>
      </td>
      <td class="texto_cinza label" width="15%">
        Celular
      </td>
      <td>
        <%=f.text_field :celular %>
        <%=f.error_message_on :celular%>
      </td>
    </tr>
    <tr>
      <td class="texto_cinza label" width="15%">
        Tipo de Veículo
      </td>
      <td  width="35%">
        <%=f.select :tipo_veiculo_id, tipo_veiculos,{},{:onchange => remote_function(:url => {:action => :buscar_marcas}, :with => "'pedido[tipo_veiculo_id]='+this.value")} %>
        <%=f.error_message_on :tipo_veiculo_id%>
      </td>
      <td class="texto_cinza label"  width="15%">
        Ano
      </td>
      <td>
        <%=f.text_field :ano%>
        <%=f.error_message_on :ano%>
      </td>
    </tr>
    <tr>
      <td height="10" colspan="4" class="texto_cinza"></td>
    </tr>
    <tr>
      <td class="texto_cinza label">
        Marca
      </td>
      <td>
        <span id="div_marcas"><%=render :partial => "select_marcas"%></span>
      </td>
    
      <td class="texto_cinza label">
        Valor
      </td>
      <td>
        <%=f.text_field :valor%>
        <%=f.error_message_on :valor%>
      </td>
    </tr>
    <tr>
      <td height="10" colspan="4" class="texto_cinza"></td>
    </tr>
    <tr>
      <td class="texto_cinza label">
        Modelo
      </td>
      <td>
        <span id="div_modelos"><%=render :partial => "select_modelos"%></span>
      </td>
    
      <td class="texto_cinza label">
        Combustível
      </td>
      <td>
        <%=f.select :combustivel, combustiveis%>
        <%=f.error_message_on :combustivel%>
      </td>
    </tr>
    <tr>
      <td height="10" colspan="4" class="texto_cinza"></td>
    </tr>
    <tr>
      <td class="texto_cinza label">
        Cor
      </td>
      <td>
        <%=f.select :cor_id, cores %>
        <%=f.error_message_on :cor_id%>
      </td>
    
      <td class="texto_cinza label">
        Kilometragem
      </td>
      <td>
        <%=f.text_field :kilometragem%>
        <%=f.error_message_on :kilometragem%>
      </td>
    </tr>
  
    <tr>
      <td class="texto_cinza label" width="15%">
        Descrição
      </td>
      <td colspan="3">
        <%=f.text_area :descricao, :rows => "4", :style => "width:98%" %>
        <%=f.error_message_on :descricao%>
      </td>
    </tr>
  </table>

  <p>&nbsp;</p>

  <%=content_tag :p, image_submit_tag("btn_enviar_contato.gif"), :align => "center"%>
<% end %>