<div id="tabs">
  <ul>
    <li id="secao01"><%=link_to "Tipos de Acessórios", :action => :index %></li>
	<li id="secao02" class="active">Novos Tipos de Acessórios</li>
  </ul>
</div>


<div id="conteudo">

<%=flash_message%>


<% form_for @tipo_acessorio, :url => {:action => :criar}, :html => {:id => "create", :name => "create"} do |f| -%>
	<%=render :partial => "form", :locals => {:f => f} %>
<% end %>


</div>