<%if @noticias.size == 0 %>
<h1>Sem resultados</h1>
<% else %>
<table width="100%" class="relatorio">
    <thead>
        <tr>
            <th>
                Id
            </th>
			<th>
                Tópico de Notícias
            </th>
            <th>
                Título
            </th>
			<th>
                Data de Criação
            </th>
			<th>
                Autor
            </th>
            <th width="50">Ações</th>
        </tr>
    </thead>
    <tbody>
        <% @noticias.each do |noticia| %>
        <tr>
            <td align="center">
                <%=noticia.id %>
            </td>
			<td>
                <%=noticia.topico_noticia.descricao %>
            </td>
            <td>
                <%=noticia.titulo %>
            </td>
			<td>
                <%=noticia.created_at.to_s(:br) %>
            </td>
			<td>
                <%=noticia.autor %>
            </td>
            <td align="center" nowrap="nowrap">
                <%= link_to image_tag("icons/edit_file.gif"), :action => :editar, :id => noticia %>
                <%= link_to_remote image_tag("icons/delete_file.gif"), :url => {:action => "apagar", :id => noticia}, :with => "Form.serialize('form_pesquisa')" %>
            </td>
        </tr>
        <% end %>
    </tbody>
	<tfoot>
		<tr>
			<td colspan="6" align="center">
				<%= paginacao_ajax @noticias, {:with => "Form.serialize('form_pesquisa')"} %>
			</td>
		</tr>
	</tfoot>
</table>
<% end %>