<div id="tabs">
  <ul>
    <li id="secao01"><%=link_to "Notícias", :action => :index %></li>
	<li id="secao02" class="active">Edição de Notícias</li>
  </ul>
</div>


<div id="conteudo">

<%=flash_message%>


<% form_for @noticia, :url => {:action => :atualizar, :id => @noticia}, :html => {:id => "create", :name => "create"} do |f| -%>
	<%=render :partial => "form", :locals => {:f => f} %>
<% end %>


</div>