<% form_remote_tag(:url => {:action => "pesquisar"}, :html => {:id => "form_pesquisa",:name => "form_pesquisa"}) do %>
<table width="100%" class="pesquisa" cellspacing="0">
    <tr>
        <td width="175">
            <%=label :banner,:tipo%>
        </td>
        <td>
            <%=select :banner, :tipo, tipos_busca %>
        </td>
    </tr>
    <tr>
        <td width="175">
            <%=label :banner,:localizacao%>
        </td>
        <td>
            <%=select :banner, :localizacao, localizacoes_busca %>
        </td>
    </tr>
    <tr>
        <td width="175">
            <%=label :banner,:ativo%>
        </td>
        <td>
            <%=select :banner, :ativo, ativo_busca %>
        </td>
    </tr>
    <tr class="action">
        <td>
            &nbsp;
        </td>
        <td>
            <button type="submit">
                <img src="/images/icons/filter.gif" />Pesquisar
            </button>
            <button type="button" onClick="window.location = '<%= url_for :action => :novo %>'">
                <img src="/images/icons/add.gif" />Adicionar
            </button>
        </td>
    </tr>
</table>
<% end %>