<table class="create" width="100%">
<!--[form:anuncio]-->
<tr>
  <td width="175">
  	<%=label(:banner, :arquivo)%>
  </td>
  <td><%=file_field :banner,:arquivo  %>
  	<%= error_message_on :banner, :arquivo %>
  </td>
</tr>
<tr>
  <td width="175">
  	<%=label(:banner, :arquivo_swf)%>
  </td>
  <td><%=file_field :banner,:arquivo_swf  %>
  	<%= error_message_on :banner, :arquivo_swf %>
  </td>
</tr>
<tr>
  <td width="175">
  	<%=label(:banner, :link)%>
  </td>
  <td><%=f.text_field :link  %>
  	<%=f.error_message_on :link %>
  </td>
</tr>
<tr>
  <td>
  	<%=f.label(:tipo)%>
  </td>
  <td><%=f.select :tipo, tipos  %>
    <%=f.error_message_on :tipo %>
  </td>
</tr>
<tr>
<tr>
  <td>
  	<%=f.label(:localizacao,"Localização")%>
  </td>
  <td><%=f.select :localizacao, localizacoes  %>
    <%=f.error_message_on :localizacao %>
  </td>
</tr>
<tr>
  <td>
  	<%=f.label(:ativo)%>
  </td>
  <td><%=f.select :ativo, ativo  %>
    <%=f. error_message_on :ativo %>
  </td>
</tr>
<% if @banner.arquivo_file_name %>
<tr>
  <td>
    <%=label(:banner, :arquivo)%>
  </td>
  <td>
      <%= image_tag @banner.arquivo.url(:list) %>
  </td>
</tr>
<% end %>
<% if @banner.arquivo_swf_file_name %>
<tr>
  <td>
    <%=label(:banner, :arquivo_swf)%>
  </td>
  <td>
      <%= link_to @banner.arquivo_swf.url,@banner.arquivo_swf.url,:target => "_blank"  %>
  </td>
</tr>
<% end %>
<!--[eoform:anuncio]-->

<tr class="action">
  <td align="center" colspan="2">
    <%= montar_botoes_salvar() %>
  </td>
</tr>
</table>