<%= stylesheet_link_tag "conteudo" %>

<img src="/images/tit_login_lanunciante.jpg" width="201" height="28">

<%=render :partial => "shared/menu_auxiliar" %>

<h1 class="texto_verde_pequeno">Área Restrita</h1>
<p class="texto_cinza_titulo">Preencha os campos abaixo</p>

<% form_for @anunciante, :url => {:action => :logar}, :html => {:id => "formulario", :name => "formulario"} do |f| -%>
  <table class="formulario">
    <tr>
      <td class="texto_cinza" nowrap="nowrap" width="210">
        <%=tipos_login(f)%>
      </td>
      <td class="texto_cinza" width="210">
        Senha
      </td>
	  <td rowspan="2" align="left">
	  	<%= image_submit_tag "btn_ok.jpg", :id => "btn" %>
	  </td>
    </tr>
    <tr>  
      <td class="texto_cinza">
        <%=f.text_field :login, :style => "width:200px;" %>
      </td>
      <td class="texto_cinza">
        <%=f.password_field :senha, :value => "", :style => "width:200px;"%>
      </td>      
    </tr>
</table>
<% end %>
<p>
  <%= image_tag "icons/icon_alert.jpg" %>
  <%=link_to "Esqueci minha senha", :controller => :esqueci_senha%>
</p>


<hr class="linha_separacao" />

<h1 class="texto_verde_pequeno">Novo Anunciante - Cadastre-se</h1>
<p class="texto_cinza_titulo">Preencha os campos abaixo</p>

<% form_tag({:controller => :cadastro, :action => :index}, {:method => :get, :id => "formulario_cadastro", :name => "formulario_cadastro"}) do -%>
  <table class="formulario">
    <tr>
      <td class="texto_cinza" width="150" align="right">
        Nome
      </td>
      <td class="texto_cinza" width="250">
        <%=text_field :anunciante, :nome, :value => "", :style => "width:240px;"%>
      </td>
	  <td rowspan="2" align="left">
	  	<%= image_submit_tag "btn_cadastrar.jpg", :id => "btn" %>
	  </td>
    </tr>
    <tr>  
      <td class="texto_cinza" align="right">
      	Email
      </td>
      <td class="texto_cinza">
        <%=text_field :anunciante, :email, :value => "", :style => "width:240px;"%>
      </td>      
    </tr>
</table>
<% end %>
