<% form_tag ({:controller => :acessorios, :action => :pesquisar}, {:id => "form_busca_acessorios"}) do |f| -%>

  <table class="formulario">
    <tr>
      <td class="texto_cinza label" width="15%">
        Tipo Acessório
      </td>
      <td width="35%">
        <%=select :busca_anuncio_acessorio, :tipo_acessorio_id, tipo_acessorios, {}, :onchange => "$('anuncio_acesso_tipo_acessorio_outro').value=''" %>
      </td>
    </tr>    
    <tr>
      <td class="texto_cinza label">
        Faixa de Preço
      </td>
      <td>
        <%=select :busca_anuncio_acessorio, :faixa_preco_inicial, busca_faixas_precos_acessorios, {}, :class => "preco" %>
        a <%=select :busca_anuncio_acessorio, :faixa_preco_final, busca_faixas_precos_acessorios, {}, :class => "preco" %>
      </td>
    </tr>
  </table>

  <%=content_tag :p, image_submit_tag("botao_buscar.gif"), :align => "center"%>
<% end %>