<%if @anuncios.size == 0 %>
  <h1>Sem resultados</h1>
<% else %>

  <table class="resultado">
    <tr>
      <th class="texto_verde_pequeno">Foto</th>
      <th class="texto_verde_pequeno">Anunciante</th>
      <th class="texto_verde_pequeno">Tipo de Acessório</th>
      <th class="texto_verde_pequeno">Valor</th>
    </tr>
    <% @anuncios.each do |anuncio| %>
      <tr>
        <td id="foto">
          <%=link_anuncios(imagem_resultado_busca(anuncio),anuncio)%>
        </td>
        <td>
          <%=link_anuncios(anuncio.anunciante.nome,anuncio)%>
        </td>
        <td>
          <%=link_anuncios(anuncio.anuncio_acessorio.tipo_acessorio.descricao,anuncio)%>
        </td>
        <td>
          <%=link_anuncios(valor_publico(anuncio.anuncio_acessorio.valor),anuncio)%>
        </td>
      </tr>
    <% end %>
  </table>

  <%=paginacao @anuncios, :action => :pesquisar %>
<% end %>