<% form_remote_tag(:url => {:action => "pesquisar"}, :html => {:id => "form_pesquisa",:name => "form_pesquisa"}) do %>
<h1 class="texto_verde_pequeno">Preencha os campos caso queira filtrar seus anúncios.</h1><br />
<table class="formulario">
    <tr>
      <td class="texto_cinza label" width="15%">
        <%=label :anuncio, :tipo, "Tipo" %>
      </td>
      <td>
        <%=  select :anuncio, :tipo, tipos_planos  %>
      </td>
    </tr>  
    <tr>
      <td class="texto_cinza label">
        <%=label :anuncio, :status, "Status" %>
      </td>
      <td>
        <%=  select :anuncio, :status, status  %>
      </td>
    </tr>  
    <tr class="action">
        <td>
            &nbsp;
        </td>
        <td>
            <%= image_submit_tag "btn_ok.jpg", :id => "btn" %>
        </td>
    </tr>
</table>
<% end %>