<% if @pedidos.size == 0 %>
  <h1 class="texto_cinza_titulo">Sem resultados</h1>
<% else %>
  <table class="resultado">
    <tr>
      <th class="texto_verde_pequeno">
        Interessado
      </th>
      <th class="texto_verde_pequeno">
        Tipo de Veículo / Marca / Modelo
      </th>
      <th class="texto_verde_pequeno">
        Descrição
      </th>
      <th class="texto_verde_pequeno">
        Cor / Ano
      </th>
      <th class="texto_verde_pequeno">
        Combustível / Kilometragem
      </th>
      <th class="texto_verde_pequeno">
        Valor
      </th>
    </tr>
    <% @pedidos.each do |pedido| %>
      <tr>
        <td align="center">
          <%=descricao_pedido(pedido) %>
        </td>
        <td align="center" class="texto_cinza">
          <%=pedido.tipo_veiculo.descricao || "-" %> / <%=pedido.marca.descricao rescue "-" %> / <%=pedido.modelo.descricao rescue "-" %>
        </td>
        <td align="center" class="texto_cinza">
          <%=pedido.descricao %>
        </td>
        <td align="center" class="texto_cinza">
          <%=pedido.cor.descricao rescue "-" %> / <%=pedido.ano || "-" %>
        </td>
        <td align="center" class="texto_cinza">
          <%=pedido.combustivel || "-" %> / <%=pedido.kilometragem || "-" %>
        </td>
        <td align="center" class="texto_cinza">
          <%=pedido.valor.real_contabil rescue "-" %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
