<% if @anuncios.size == 0 %>
  <h1 class="texto_cinza_titulo">Sem resultados</h1>
<% else %>
  <table class="resultado">
    <tr>
      <th class="texto_verde_pequeno">
        Foto
      </th>
      <th class="texto_verde_pequeno">
        Descrição
      </th>
      <th class="texto_verde_pequeno">
        Expira em
      </th>
      <th class="texto_verde_pequeno">
        Visitas
      </th>
      <th class="texto_verde_pequeno">
        Status
      </th>
      <th class="texto_verde_pequeno" nowrap="nowrap">
        Situação Financeira
      </th>
      <th>
      </th>
    </tr>
    <% @anuncios.each do |anuncio| %>
      <tr>
        <td align="center">
          <%=link_anuncios(imagem_resultado_busca(anuncio),anuncio) %>
        </td>
        <td align="center" class="texto_cinza">
          <%=titulo_anuncio(anuncio) %>
        </td>
        <td align="center" class="texto_cinza">
          <%=anuncio.expira_em.to_s(:br_s) %>
        </td>
        <td align="center" class="texto_cinza">
          <%=anuncio.visitas %>
        </td>
        <td id="status_<%=anuncio.id%>" align="center" class="texto_cinza">
          <%=status_anuncio(anuncio) %>
        </td>
        <td id="status_<%=anuncio.id%>" align="center" class="texto_cinza">
          <%=situacao_financeira(anuncio) %>
        </td>
        <td id="action_<%=anuncio.id%>" align="center" class="texto_cinza">
        	<%=acoes(anuncio)%>
        </td>
      </tr>
    <% end %>
    <tr>
      <td colspan="8" align="center">
        <%= paginacao_ajax @anuncios,{:with => "Form.serialize('form_pesquisa')"} %>
      </td>
    </tr>
  </table>
<% end %>
