<h1>Anuncio</h1>

<p>Plano:
	<span><%= @anuncio.plano.descricao %></span><br />
</p>

<p>Descrição:
<span><%=@anuncio.descricao %></span>
</p>

<p>Tipo:
	<span><%= get_tipo(@anuncio.tipo) %></span><br />
</p>

<p>Expira_em:
<span><%=@anuncio.expira_em.to_s(:br_s) %></span>
</p>

