<%= stylesheet_link_tag "conteudo" %>
<%= stylesheet_link_tag "buscas" %>

<img src="/images/tit_painel.jpg" />

<%=render :partial => "shared/menu_auxiliar" %>

<div id="form_pesquisa">
<%=render :partial => "form_pesquisa" %>
</div><br>
<div id="resultado">
<%=render :partial => "resultado" if defined?(@anuncios)%>
</div>
