<%= stylesheet_link_tag "conteudo" %>
<%= stylesheet_link_tag "buscas" %>

<img src="/images/tit_painel.jpg" />

<%=render :partial => "shared/menu_auxiliar" %>


<div id="resultado">
<%=render :partial => "resultado_pedidos" if defined?(@pedidos)%>
</div>
