<div id="tabs">
  <ul>
    <li id="secao01"><%=link_to "Modelos", :action => :index %></li>
	<li id="secao02" class="active">Edição de Modelos</li>
  </ul>
</div>


<div id="conteudo">

<%=flash_message%>


<% form_for @modelo, :url => {:action => :atualizar, :id => @modelo}, :html => {:id => "create", :name => "create"} do |f| -%>
	<%=render :partial => "form", :locals => {:f => f} %>
<% end %>


</div>