﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>Administração InfoCar</title>
    
    <%= stylesheet_link_tag "admin/proto" %>
    <%= stylesheet_link_tag "admin/form" %>
    <%= stylesheet_link_tag "admin/menu" %>
	<%= stylesheet_link_tag "skins/aqua/theme" %>
	<%= javascript_include_tag :defaults %>
	<%= javascript_include_tag "agence/domForms" %>
    <%= javascript_include_tag "agence/domDiversos" %>
	
    <% if @administrador_logado %>
    
    <%= javascript_include_tag "yui/build/yahoo-dom-event/yahoo-dom-event" %>
    <%= javascript_include_tag "yui/build/container/container_core-min" %>
    <%= javascript_include_tag "yui/build/menu/menu-min" %>
    <%= javascript_include_tag "menu" %>
    
    <%= javascript_include_tag "agence/formMascaras" %>
	<%= javascript_include_tag "tiny_mce/tiny_mce" %>
		<script>
			tinyMCE.init({
				mode : "textareas",
				theme : "advanced",
				plugins : "table,style,advhr,advimage,advlink,iespell,insertdatetime,preview,zoom,flash,searchreplace,print,fullscreen,contextmenu",
				theme_advanced_buttons1_add : "fontselect,fontsizeselect,fullscreen",
				theme_advanced_buttons2_add : "separator,insertdate,inserttime,separator,forecolor,backcolor",
				theme_advanced_buttons2_add_before: "cut,copy,paste,pasteword,separator,search,replace,separator",
				theme_advanced_buttons3_add_before : "tablecontrols,separator",
				theme_advanced_buttons3_add : "separator,print",
				theme_advanced_toolbar_location : "top",
				theme_advanced_toolbar_align : "center",
				theme_advanced_path_location : "bottom",
				content_css : "/stylesheets/example_full.css",
				plugin_insertdate_dateFormat : "%d-%m-%Y",
				plugin_insertdate_timeFormat : "%H:%M:%S",
				extended_valid_elements : "a[name|href|target|title|onclick],img[class|src|border=0|alt|title|hspace|vspace|width|height|align|onmouseover|onmouseout|name],hr[class|width|size|noshade],font[face|size|color|style],span[class|align|style]"
			});
		</script>
	
	<%= javascript_include_tag "calendar/calendar" %>
	<%= javascript_include_tag "calendar/calendar-setup" %>
	<%= javascript_include_tag "calendar/lang/calendar-en" %>
	<%= javascript_include_tag "calendar/lang/calendar-br" %>
    <% end %>           
    <style type="text/css">
      body
      {
        behavior:url(/stylesheets/htc/csshover2.htc);
      }
    </style>
  </head>
  <body>
    <div id="divLoading">
      Carregando...
    </div>
    
    <div id="topo">
      <img src="/images/logo_cliente.jpg" alt="logomarca do Cliente">
      <div id="user" onMouseOut="">
          <% if @administrador_logado %><p>Bem vindo <strong>Administrador</strong></p><% end %>
      </div>
    </div>
    
	<% if @administrador_logado %>
    <div id="menu" class="yuimenubar">
      <div class="bd">
		  <ul class="first-of-type">
		    <li class="yuimenubaritem first-of-type">
		      <a class="yuimenuitemlabel" style="background-image: url(/images/icons/lightbulb.gif)" href="<%=url_for :controller => "admin/principal"%>">Principal</a>
		    </li>
			<li class="yuimenubaritem">
		      <a class="yuimenuitemlabel" style="background-image: url(/images/icons/produtos.gif)" href="#">Cadastros</a>
		      <div id="menu_criacao1" class="yuimenu">
		        <div class="bd">
		          <ul>
                    <li class="yuimenuitem"%><%=link_to "Tipo de Veículos", :controller => :tipo_veiculos %></li>
		            <li class="yuimenuitem"%><%=link_to "Marcas", :controller => :marcas %></li>
		            <li class="yuimenuitem"%><%=link_to "Modelos", :controller => :modelos %></li>
		            <li class="yuimenuitem"%><%=link_to "Cores", :controller => :cores %></li>                            
                    <li class="yuimenuitem"%><%=link_to "Tipo de Acessórios", :controller => :tipo_acessorios %></li>
		            <li class="yuimenuitem"%><%=link_to "Opcionais", :controller => :opcionais %></li>
                  </ul>
		        </div>
		      </div>
		    </li>
		    <li class="yuimenubaritem">
		      <a class="yuimenuitemlabel" style="background-image: url(/images/icons/attach_add.gif)" href="#">Notícias</a>
		      <div id="menu_criacao2" class="yuimenu">
		        <div class="bd">
		          <ul>
		            <li class="yuimenuitem"%><%=link_to "Tópicos de Notícias", :controller => :topico_noticias %></li>
		            <li class="yuimenuitem"%><%=link_to "Notícias", :controller => :noticias %></li>
		            <li class="yuimenuitem"%><%=link_to "Fotos de Notícias", :controller => :foto_noticias %></li>
		          </ul>
		        </div>
		      </div>
		    </li>
		    <li class="yuimenubaritem">
		      <a class="yuimenuitemlabel" style="background-image: url(/images/icons/clientes.gif)" href="#">Anunciantes</a>
		      <div id="menu_anunciantes" class="yuimenu">
		        <div class="bd">
		          <ul>
		            <li class="yuimenuitem"%><%=link_to "Particulares", :controller => :anunciantes, :tipo => Anunciante::ANUNCIANTE %></li>
		            <li class="yuimenuitem"%><%=link_to "Lojas", :controller => :anunciantes, :tipo => Anunciante::LOJA %></li>
		          </ul>
		        </div>
		      </div>
		    </li>
		    <li class="yuimenubaritem">
		      <a class="yuimenuitemlabel" style="background-image: url(/images/icons/contratos.gif)" href="#">Anuncios</a>
		      <div id="menu_anuncios" class="yuimenu">
		        <div class="bd">
		          <ul>
		            <li class="yuimenuitem"%><%=link_to "Lista de Anúncios", :controller => :anuncios %></li>
		            <li class="yuimenuitem"%><%=link_to "Pendentes", :controller => :anuncios, :action => "pendentes" %></li>                            
		            <li class="yuimenuitem"%><%=link_to "Pedidos Feitos", :controller => :pedidos %></li>                            
		          </ul>
		        </div>
		      </div>
		    </li>

                    <li class="yuimenubaritem">
		      <a class="yuimenuitemlabel" style="background-image: url(/images/icons/information.gif)" href="#">Publicidade</a>
		      <div id="menu_publicidade" class="yuimenu">
		        <div class="bd">
		          <ul>
		            <li class="yuimenuitem"%><%=link_to "Banners Padrões", :controller => :banners_padroes %></li>
		            <li class="yuimenuitem"%><%=link_to "Banners", :controller => :banners %></li>
					<li class="yuimenuitem"%><%=link_to "Planos", :controller => :planos %></li>
		          </ul>
		        </div>
		      </div>
		    </li>
		    <li class="yuimenubaritem">
		      <%= link_to 'Sair', {:controller => "login", :action => "sair"}, :class => "yuimenuitemlabel", :style => "background-image: url(/images/icons/cancel.gif)" %>
		    </li>
		  </ul>
		</div>

    </div>
	<% end %>

    <%= yield %>

    <script type="text/javascript">
        linesTrue();		// Ativando linhas intercaladas na tabela
        buttonActive();		// Ativando botoes
        activeForm();		// Ativando focus nos forms
        ocultarLoading();
    </script>
    
    <div id="rodape"></div>
  </body>
</html>